md-input-container textarea[rows].md-input {
    overflow: auto;
}

md-input-container .md-errors-spacer {
    display: none;
}

.ha-button-big {
    padding: 8px 16px;
}

.ha-devider-small {
    width: 200px;
}

.ha-layout-full-height {
    height: calc(100vh - 48px);
}
