body {
    font-family: monospace;
}

.ha-fieldset {
    margin-bottom: 2em;
}

.ha-form-group {
    margin-bottom: .5em;
}

.ha-input {
    display: block;
    width: 100%;
}

.ha-button {
    display: block;
    width: 100%;
    border: 1px solid black;
    background-color: #eee;
    font-size: 1.2em;
    text-transform: uppercase;
    padding: 0.5em 2em;
    cursor: pointer;
}
